.footer p {
    text-align: center;
    font-size: 1.8rem;
    background: #851738;
    background: linear-gradient(to right, #27591B 50%, #851738 0%, #27591B 50%, #752201 51%, #6B0808 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}